.footer-section{
background-color: #F6F0F0;
}
.footer-gradient {
    height: 50px; /* Adjust height as needed */
    background: #4CAF50;
    display: flex; /* Use flexbox for centering */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    margin-bottom: 20px; /* Add gap below the gradient */
  }
  
  .footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .footer-links {
    display: flex;
    justify-content: center; /* Center the links horizontally */
    margin-bottom: 20px; /* Add gap below the links */
    color: #f9f8eb; /* White text for better contrast */
  }
  
  .footer-link {
    font-size: 14px;
    color: #f9f8eb; /* White text for better contrast */
    text-decoration: none;
    transition: color 0.3s;
    padding: 10px;
  }
  
  .footer-link:hover {
    color: #424242; /* Lighter color on hover */
  }
  
  .footer-logo img {
    width: 60px;
    height: auto;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .footer-copyright {
    font-size: 14px;
    color: #424242;
    margin-top: 10px;
    font-weight: 500;
  }
  